/*

# rtv default applications 
!.mailcap

# tmux
!.tmux.conf

# vim/gvim
!.vimrc

# zsh
/.zsh/*
!.zsh/
!.zsh/.zshrc
!.zsh/.zshrc.aliases
!.zshenv
!README.md

# scripts
/scripts/*
!/scripts/
!/scripts/bootstrap.sh

# gitignore
!.gitignore
